/* CountryList.css */
.country-list-main-component {
  padding-right: 40px;
}
.country-list ul {
  list-style-type: none; /* This line removes the bullet points */
  padding: 0;
  max-width: 600px; /* Adjust width as needed */
  margin: auto;
}

.country-list li {
  width: 560px;
  color: white;
  padding: 10px 20px; /* Add horizontal padding */
  margin: 10px 0;
  border: 1px solid #ffffff30;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  list-style-type: none;
  background-color: var(--selected-bg-color, #282c34);
}

.country-list li.selected {
  color: #282c34 !important; /* Dark text color for contrast */
}

@media (max-width: 768px) {
  .country-list li {
    width: 280px;
    font-size: 14px; /* smaller text on small screens */
  }
}
